# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly set text files to use LF line endings.
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.vue text eol=lf
*.js text eol=lf

# Explicitly set Windows-specific files to use CRLF line endings.
*.bat text eol=crlf
